<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non ab, odio
      nisi ducimus id iste minus, inventore adipisci voluptas mollitia, eligendi
      magnam corporis quia. Consequuntur in consequatur voluptate esse
      nisi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ipsa
      laboriosam odio, ipsum est corporis sapiente dolore velit perferendis!
      Maiores autem commodi cumque minima perspiciatis non sunt quia dolore
      suscipit!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
      quisquam fugiat quasi repudiandae maxime dolore ea dolor illo eaque
      deleniti modi quis magni optio sunt voluptates provident pariatur?
      Debitis, doloribus.
    </p>
  </body>
</html>
